<div th:replace="admin/module/_header"></div>
<div class="wrapper">
    <!-- 菜单栏模块 -->
    <div th:replace="admin/module/_sidebar"></div>
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                分类列表
                <small></small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a data-pjax="true" href="/admin">
                        <i class="fa fa-dashboard"></i> 首页</a>
                </li>
                <li><a data-pjax="true" href="/category">分类管理</a></li>
                <li class="active">分类列表</li>
            </ol>
        </section>
        <section class="content container-fluid">
            <div class="row">
                <div class="col-md-5" th:if="${updateCategory == null}">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">添加分类</h3>
                        </div>
                        <form action="/admin/category/save" method="post" role="form" id="cateForm">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="cateName">分类名称</label>
                                    <input type="text" class="form-control" id="cateName" name="cateName"
                                           placeholder="">
                                </div>
                                <div class="form-group">
                                    <label for="cateSort">排序</label>
                                    <input type="number" class="form-control" id="cateSort" name="cateSort" >
                                </div>
                                <div class="form-group">
                                    <label for="cateDesc"
                                           class="control-label">描述</label>
                                    <textarea class="form-control" rows="3" id="cateDesc" name="cateDesc"
                                              style="resize: none"></textarea>
                                </div>
                            </div>
                            <div class="box-footer">
                                <button type="button" class="btn btn-primary btn-sm " onclick="saveCategory()">保存
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-5" th:if="${updateCategory != null}">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">更新分类</h3>
                        </div>
                        <form action="/admin/category/save" method="post" role="form" id="cateForm">
                            <input type="hidden" name="id" th:value="${updateCategory.id}">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="cateName">分类名称</label>
                                    <input type="text" class="form-control" id="cateName" name="cateName"
                                           placeholder="" th:value="${updateCategory.cateName}">
                                </div>
                                <div class="form-group">
                                    <label for="cateSort">排序</label>
                                    <input type="number" class="form-control" id="cateSort" name="cateSort"
                                           value="1" th:value="${updateCategory.cateSort}">
                                </div>
                                <div class="form-group">
                                    <label for="cateDesc"
                                           class="control-label">描述</label>
                                    <textarea class="form-control" rows="3" id="cateDesc" name="cateDesc"
                                              style="resize: none">[[${updateCategory.cateDesc}]]</textarea>
                                </div>
                            </div>
                            <div class="box-footer">
                                <button type="button" class="btn btn-primary btn-sm " onclick="saveCategory()">保存</button>
                                <a href="/admin/category" class="btn btn-info btn-sm">返回添加</a>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">所有分类</h3>
                        </div>
                        <div class="box-body table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th class="col-md-3">分类名称</th>
                                    <th class="col-md-6">描述</th>
                                    <th class="col-md-3">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="cate : ${categories}">
                                    <td>
                                        <a th:href="'/category/'+${cate.id}" target="_blank">[[${cate.cateName}]]</a>
                                    </td>
                                    <td>[[${cate.cateDesc}]]</td>
                                    <td>
                                        <a data-pjax="true"
                                           th:href="'/admin/category/edit?id='+${cate.id}+'&page='+${pageInfo.current}"
                                           class="btn btn-primary btn-xs ">编辑</a>
                                        <button class="btn btn-danger btn-xs delete-category"
                                                th:onclick="'removeIt('+${cate.id}+')'">删除
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="box-footer clearfix">
                            <div class="no-margin pull-left">
                                第 [[${pageInfo.current}]] / [[${pageInfo.pages}]] 页
                            </div>
                            <ul class="pagination no-margin pull-right">
                                <li><a data-pjax="true"  th:classappend="${pageInfo.current == 1 ? 'disabled' : ''}" class="btn btn-sm"
                                       href="/admin/category">
                                    首页
                                </a>
                                </li>
                                <li><a data-pjax="true" class="btn btn-sm"  th:classappend="${pageInfo.current == 1 ? 'disabled' : ''}"
                                       th:href="'/admin/category?page='+${pageInfo.current-1}">
                                    上一页
                                </a>
                                </li>
                                <li><a data-pjax="true" class="btn btn-sm"  th:classappend="${pageInfo.current == pageInfo.pages ? 'disabled' : ''}"
                                       th:href="'/admin/category?page='+${pageInfo.current+1}">
                                    下一页
                                </a>
                                </li>
                                <li><a data-pjax="true" class="btn btn-sm" th:classappend="${pageInfo.current == pageInfo.pages ? 'disabled' : ''}"
                                       th:href="'/admin/category?page='+${pageInfo.pages}">
                                    尾页
                                </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script>

            function saveCategory() {
                $.ajax({
                    type: 'POST',
                    url: '/admin/category/save',
                    async: false,
                    data: $("#cateForm").serialize(),
                    success: function (data) {
                        if (data.code == 0) {
                            showMsg(data.msg, "error", 1000);
                        } else {
                            showMsgAndRedirect(data.msg, "success", 1000, "/admin/category");
                        }
                    }
                });
            };

            function removeIt(id) {
                layer.confirm('请确认是否删除', function (index) {
                    $.ajax({
                        type: 'POST',
                        url: '/admin/category/delete',
                        async: false,
                        data: {
                            'id': id
                        },
                        success: function (data) {
                            if (data.code == 0) {
                                showMsg(data.msg, "error", 1000);
                            } else {
                                showMsgAndRedirect(data.msg, "success", 1000, "/admin/category");
                            }

                        }
                    });
                    layer.close(index);
                });
            }

        </script>
    </div>

</div>
<div th:replace="admin/module/_footer"></div>
