<!doctype html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>初云博客</title>
        <meta name="keywords" content="HTML5 Template">
        <meta name="description" content="Forum - Responsive HTML5 Template">
        <meta name="author" content="Forum">
        <link rel="shortcut icon" href="/static/favicon/favicon.ico">
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/static/front/css/style.css">
        <link rel="stylesheet" href="/static/plugins/toast/css/jquery.toast.min.css">
        <link rel="stylesheet" href="/static/front/css/main.css">
        <link rel="stylesheet" href="/static/front/css/jsmodern-1.1.1.min.css">
    </head>
    <body>
        <!-- tt-mobile menu -->
        <nav class="panel-menu" id="mobile-menu">
            <ul>

            </ul>
            <div class="mm-navbtn-names">
                <div class="mm-closebtn">
                    Close
                    <div class="tt-icon">
                        <svg>
                            <use xlink:href="#icon-cancel"></use>
                        </svg>
                    </div>
                </div>
                <div class="mm-backbtn">Back</div>
            </div>
        </nav>
        <header id="tt-header">
            <div class="container">
                <div class="row tt-row no-gutters">
                    <div class="col-auto">
                        <!-- toggle mobile menu -->
                        <a class="toggle-mobile-menu" href="#">
                            <svg class="tt-icon">
                                <use xlink:href="#icon-menu_icon"></use>
                            </svg>
                        </a>
                        <!-- /toggle mobile menu -->
                        <!-- logo -->
                        <div class="tt-logo">
                            <a href="/"><img src="/static/front/images/logo.jpeg" alt=""></a>
                        </div>
                        <!-- /logo -->
                        <!-- desctop menu -->
                        <div class="tt-desktop-menu">
                            <nav>
                                <ul>
                                    <li><a href="/category"><span>分类</span></a></li>
                                    <!--                                    <li><a href="/user"><span>活跃用户</span></a></li>-->
                                    <li><a href="/tag"><span>热门标签</span></a></li>
                                    <li><a href="/admin/post/new"><span>发布文章</span></a></li>
                                </ul>
                            </nav>
                        </div>
                        <!-- /desctop menu -->
                        <!-- tt-search -->
                        <div class="tt-search">
                            <!-- toggle -->
                            <button class="tt-search-toggle" data-toggle="modal" data-target="#modalAdvancedSearch">
                                <svg class="tt-icon">
                                    <use xlink:href="#icon-search"></use>
                                </svg>
                            </button>
                            <!-- /toggle -->
                            <form class="search-wrapper" action="/">
                                <div class="search-form">
                                    <input type="text" name="keywords" id="keywords" class="tt-search__input"
                                           placeholder="搜索">
                                    <button class="tt-search__btn" type="submit">
                                        <svg class="tt-icon">
                                            <use xlink:href="#icon-search"></use>
                                        </svg>
                                    </button>
                                    <button class="tt-search__close">
                                        <svg class="tt-icon">
                                            <use xlink:href="#cancel"></use>
                                        </svg>
                                    </button>
                                </div>
                            </form>
                        </div>
                        <!-- /tt-search -->
                    </div>
                    <div class="col-auto ml-auto">
                        <div class="tt-account-btn" th:if="${session.user == null}">
                            <a href="/login" class="btn btn-primary">登录</a>
                            <a href="/register" class="btn btn-secondary">注册</a>
                        </div>
                        <div class="tt-user-info d-flex justify-content-center" th:if="${session.user != null}">
                            <a href="/logout" class="btn btn-primary">退出</a>
                            <a href="/admin" class="btn btn-secondary">进入后台</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>